# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
ExportedObj/
sysinfo.txt

# Visual Studio files
.vs/
*.csproj
*.sln
*.user
*.pidb
*.suo
*.unityproj

# OS
.DS_Store
Thumbs.db

# Crash and temporary files
*.stacktrace
*.tmp
